<h2> Username: <%= @user.username %> </h2>

<h2> Pets: </h2>
<% @pets.each do |pet| %>
  <p>Pet Name: <%= pet.pet_name %> </p>
  <p>Species: <%= pet.species %> </p>
  <p>Age: <%= pet.age %> </p>
  <p>Sitter: <%= pet.sitter.sitter_name %> </p>
<% end %>
